body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin-bottom: 20px;
}

.navbar-brand {
  margin: auto !important;
}

.score {
  font-size: 20em;
}

.thumbs {
  width: 4.5em;
  height: 4.5em;
  margin: 0 0.4em 0 0.4em;
}