<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>InstaJ😂y</title>
  </head>

    <!-- The scrollable area -->
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
      <!-- The navbar - The <a> elements are used to jump to a section in the scrollable area -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" style="text-align:center;font-size:50px;color:#000;">InstaJ😂y</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    <div class="container" style="padding-top:70px;">
      <div class="row">
        <div class="col-md-12 text-center">
          <button class="btn btn-primary btn-md " id="authorizeBtn" onclick="window.location.replace('https://api.instagram.com/oauth/authorize/?client_id=<%= clientId %>&redirect_uri=http://localhost:3001/auth&response_type=code')" style="text-align:center;margin:auto;" >Authorise</button>
        </div>
      </div>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	<link rel="stylesheet" href="/assets/main.css">
    <!-- <script src="/assets/main.js"></script> -->
  </body>
</html>
